* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  @media #{$brk-full} {
      max-width: 1000px;
      box-shadow: 0px 0px 10px gray;
  }
}

.content {
  margin: 0 auto;
  width: 94%;
  min-height: 500px;
  @media #{$brk-ipad} {
    margin-top: -18px;
  }

}

#content-container {
  @media #{$brk-big} {
    width: 90%;
    margin: 0 auto;
  }
  @media #{$brk-wide} {
    width: 84%;
  }
}
