
h1 {
  font-family: $logo;
  color: white;
  font-weight: normal;
}

h2, h3, h4 {
  font-family: $headline;
  color: $lightgrey;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  font-family: $body;
  font-size: 1.3em;
  color: $darkest;
  p, ul, ol {
    margin-bottom: 1em;
  }
  a {
    color: lighten($blue, 15%);
    &:hover {
      color: $blue;
    }
    &.button {
      @extend %button-style;
    }
  }
}

.content ul {
  padding-left: 10px;
}

.content li {
  margin: 8px 0;
}
