//Colors

$red : #CC3333;
$yellow : #FFCC66;
$blue : #3333CC;
$green : #66CC66;

//Font Styles

$logo : Bungee, cursive;
$headline : Courier, monospace;
$body : Eurostile, sans-serif;

$lightgrey : #E6E6E6;
$mediumgrey : #CCCCCC;
$darkgrey : #999999;
$darkest : #666666;

//Media Query breakpoints

$brk-small : "screen and (min-width: 401px)";
$brk-medium : "screen and (min-width: 520px)";
$brk-big : "screen and (min-width: 665px)";
$brk-ipad : "screen and (min-width: 768px)";
$brk-wide : "screen and (min-width: 870px)";
$brk-full: "screen and (min-width: 980px)";


//Global Button Style

%button-style {
  background-color: $green;
  color: white;
  font-size: 1em;
  font-family: $body;
  padding: 10px 14px;
  margin: 0 5px;
  border: none;
  &:hover {
    color: white;
    background-color: darken($green, 15%);
  }
  &:active {
    box-shadow: inset 0px 0px 15px $darkest;
  }
}
