.content a.button {
  background-color: #66CC66;
  color: white;
  font-size: 1em;
  font-family: Eurostile, sans-serif;
  padding: 10px 14px;
  margin: 0 5px;
  border: none; }
  .content a.button:hover {
    color: white;
    background-color: #39ac39; }
  .content a.button:active {
    box-shadow: inset 0px 0px 15px #666666; }

* {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 980px) {
    .container {
      max-width: 1000px;
      box-shadow: 0px 0px 10px gray; } }

.content {
  margin: 0 auto;
  width: 94%;
  min-height: 500px; }
  @media screen and (min-width: 768px) {
    .content {
      margin-top: -18px; } }

@media screen and (min-width: 665px) {
  #content-container {
    width: 90%;
    margin: 0 auto; } }
@media screen and (min-width: 870px) {
  #content-container {
    width: 84%; } }

#yellow, #green {
  position: absolute;
  z-index: 100; }

header, footer {
  max-width: 100%;
  position: relative;
  overflow: hidden; }

header {
  box-shadow: 0px 0px 10px #999999;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    header {
      box-shadow: none; } }

hgroup {
  position: absolute;
  z-index: 200;
  width: 100%;
  top: 40px;
  text-align: center; }
  @media screen and (min-width: 401px) {
    hgroup {
      font-size: 1.1em; } }
  @media screen and (min-width: 520px) {
    hgroup {
      width: auto;
      left: 15px;
      top: 50px; } }
  @media screen and (min-width: 768px) {
    hgroup {
      font-size: 1.2em;
      width: auto;
      top: 65px;
      left: 25px; } }
  @media screen and (min-width: 980px) {
    hgroup {
      font-size: 1.3em; } }
  hgroup img {
    position: absolute;
    width: 120px;
    right: 50%;
    top: -65%;
    z-index: -1; }

header nav {
  position: relative;
  bottom: 5px;
  font-family: Courier, monospace;
  color: #999999;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center; }
  @media screen and (min-width: 401px) {
    header nav {
      font-size: 1.6em;
      left: 5%; } }
  @media screen and (min-width: 520px) {
    header nav {
      position: absolute;
      right: 0%;
      left: 17%;
      bottom: 3px;
      z-index: 400; } }
  @media screen and (min-width: 665px) {
    header nav {
      font-size: 1.7em;
      bottom: 10px;
      left: 19%; } }
  @media screen and (min-width: 768px) {
    header nav {
      text-align: right;
      font-size: 1.6em;
      bottom: 48px; } }
  @media screen and (min-width: 870px) {
    header nav {
      font-size: 1.7em;
      bottom: 47px; } }

nav li {
  display: inline-block; }
  @media screen and (min-width: 768px) {
    nav li {
      display: block; } }
  @media screen and (min-width: 870px) {
    nav li {
      margin: 5px 0; } }
  @media screen and (min-width: 980px) {
    nav li {
      margin-top: 5px; } }
  nav li:nth-of-type(1) {
    position: absolute;
    left: 46%;
    bottom: 1em; }
    @media screen and (min-width: 768px) {
      nav li:nth-of-type(1) {
        position: static; } }
  nav li a {
    padding: 0px 10px; }
  nav li a:hover, nav li .current {
    color: #666666; }
    nav li a:hover > span, nav li .current > span {
      color: #CC3333; }

#red {
  width: 100%;
  height: 145px;
  background-color: rgba(204, 51, 51, 0.8);
  transform: skewY(-9deg);
  transform-origin: 0%;
  overflow: hidden; }
  #red > .backdrop {
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewY(9deg);
    transform-origin: 0%;
    background-image: url("../img/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: top; }
    @media screen and (min-width: 520px) {
      #red > .backdrop {
        background-image: url("../img/bg-medium.jpg"); } }
    @media screen and (min-width: 665px) {
      #red > .backdrop {
        background-image: url("../img/bg-large.jpg"); } }
  @media screen and (min-width: 401px) {
    #red {
      height: 165px; } }
  @media screen and (min-width: 520px) {
    #red {
      height: 175px; } }
  @media screen and (min-width: 768px) {
    #red {
      height: 220px;
      transform: skewY(-11deg); }
      #red > .backdrop {
        transform: skewY(11deg); } }
  @media screen and (min-width: 980px) {
    #red {
      height: 220px;
      transform: skewY(-10deg); }
      #red > .backdrop {
        transform: skewY(10deg); } }

#red2 {
  background-color: rgba(204, 51, 51, 0.8);
  width: 100%;
  height: 100%; }

#yellow {
  width: 100%;
  height: 145px;
  background-color: rgba(255, 204, 102, 0.5);
  transform: skewY(33deg);
  transform-origin: 100%;
  top: 0; }
  @media screen and (min-width: 401px) {
    #yellow {
      height: 165px;
      transform: skewY(30deg); } }
  @media screen and (min-width: 520px) {
    #yellow {
      height: 175px;
      transform: skewY(28deg); } }
  @media screen and (min-width: 768px) {
    #yellow {
      height: 210px;
      transform: skewY(18deg); } }
  @media screen and (min-width: 980px) {
    #yellow {
      height: 210px;
      transform: skewY(16deg); } }

#fgroup {
  position: absolute;
  z-index: 200;
  width: 100%;
  bottom: 25px;
  right: 5px;
  text-align: right; }
  @media screen and (min-width: 768px) {
    #fgroup {
      bottom: 45px;
      right: 50px; } }

footer {
  clear: both;
  margin-top: -25px; }
  footer h4 {
    margin-right: 10px; }
  footer svg {
    margin: 0 10px; }
  footer svg:hover path {
    fill: white; }

#blue {
  width: 100%;
  height: 145px;
  background-color: rgba(51, 51, 204, 0.7);
  transform: skewY(-13deg);
  transform-origin: 100% 0%;
  overflow: hidden; }
  #blue > .backdrop {
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewY(13deg);
    transform-origin: 100% 0%;
    background-image: url("../img/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: right bottom; }
    @media screen and (min-width: 520px) {
      #blue > .backdrop {
        background-image: url("../img/bg-medium.jpg"); } }
    @media screen and (min-width: 665px) {
      #blue > .backdrop {
        background-image: url("../img/bg-large.jpg"); } }
  @media screen and (min-width: 401px) {
    #blue {
      height: 165px; } }
  @media screen and (min-width: 520px) {
    #blue {
      height: 175px; } }
  @media screen and (min-width: 768px) {
    #blue {
      height: 190px;
      transform: skewY(-10deg); }
      #blue > .backdrop {
        transform: skewY(10deg); } }
  @media screen and (min-width: 980px) {
    #blue {
      height: 200px;
      transform: skewY(-9deg); }
      #blue > .backdrop {
        transform: skewY(9deg); } }

#blue2 {
  background-color: rgba(51, 51, 204, 0.7);
  width: 100%;
  height: 100%; }

#green {
  width: 100%;
  height: 145px;
  background-color: rgba(102, 204, 102, 0.5);
  transform: skewY(38deg);
  transform-origin: 0% 100%;
  bottom: 0; }
  @media screen and (min-width: 401px) {
    #green {
      height: 165px;
      transform: skewY(32deg); } }
  @media screen and (min-width: 520px) {
    #green {
      height: 175px;
      transform: skewY(28deg); } }
  @media screen and (min-width: 768px) {
    #green {
      height: 170px;
      transform: skewY(22deg); } }
  @media screen and (min-width: 980px) {
    #green {
      height: 180px;
      transform: skewY(15deg); } }

h1 {
  font-family: Bungee, cursive;
  color: white;
  font-weight: normal; }

h2, h3, h4 {
  font-family: Courier, monospace;
  color: #E6E6E6;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

.content {
  font-family: Eurostile, sans-serif;
  font-size: 1.3em;
  color: #666666; }
  .content p, .content ul, .content ol {
    margin-bottom: 1em; }
  .content a {
    color: #39ac39; }
    .content a:hover {
      color: #66CC66; }

.content ul {
  padding-left: 10px; }

.content li {
  margin: 8px 0; }

#about img {
  display: block;
  margin: 10px auto; }
  @media screen and (min-width: 768px) {
    #about img {
      float: right;
      margin: 0 0 15px 15px; } }

#about span {
  color: #3333CC; }

.title {
  font-weight: bold;
  color: #CC3333; }

#skills .button-center {
  text-align: center; }
#skills li {
  font-size: 1.2em;
  padding-left: 30px;
  min-height: 25px;
  background-repeat: no-repeat;
  background-size: 25px 25px; }
  #skills li:nth-of-type(1) {
    background-image: url("../img/html5.svg"); }
  #skills li:nth-of-type(2) {
    background-image: url("../img/css3.svg"); }
  #skills li:nth-of-type(3) {
    background-image: url("../img/js.svg"); }
  #skills li:nth-of-type(4) {
    background-image: url("../img/git.svg"); }
  #skills li:nth-of-type(5) {
    background-image: url("../img/graphics.svg"); }
  @media screen and (min-width: 768px) {
    #skills li {
      margin: 12px 0; } }

@media screen and (min-width: 768px) {
  #skills {
    float: right;
    width: 40%;
    margin-left: 2.5%; } }

@media screen and (min-width: 768px) {
  #education {
    float: left;
    width: 55%;
    margin-right: 2.5%;
    margin-bottom: -30px; } }

#bio {
  margin-bottom: 30px; }

input:not(.button), textarea {
  width: 100%;
  margin: 5px 0;
  font-size: 1em;
  font-family: Eurostile, sans-serif;
  color: #666666;
  border: 2px solid #999999; }

label {
  color: #CC3333;
  font-weight: bold; }

input:not(.button) {
  height: 35px; }

textarea {
  height: 200px; }

input#submit-button {
  height: 45px;
  width: 115px;
  background-color: #66CC66;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer; }
  input#submit-button:hover {
    background-color: #39ac39; }
  input#submit-button:active {
    box-shadow: inset 0px 0px 15px #666666; }

fieldset {
  text-align: center; }

#contact-info {
  text-align: right;
  margin-bottom: 80px; }
  #contact-info li {
    font-size: 1.2em; }
    #contact-info li img {
      height: 25px;
      position: relative;
      top: 4px;
      margin-right: 8px; }
  @media screen and (min-width: 768px) {
    #contact-info {
      float: left;
      width: 40%;
      margin-right: 5%; } }

@media screen and (min-width: 768px) {
  #contact-form {
    float: right;
    width: 50%;
    margin-left: 5%; } }

#portfolio {
  text-align: center; }
  @media screen and (min-width: 768px) {
    #portfolio {
      margin-top: -45px; } }

.project-container {
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden; }
  @media screen and (min-width: 520px) {
    .project-container {
      max-width: 550px; } }
  @media screen and (min-width: 768px) {
    .project-container {
      max-width: 45%;
      margin: 2.5%;
      float: left; } }
  .project-container h3 {
    margin-bottom: 8px;
    color: #CC3333; }
  .project-container:hover > h3 {
    color: #3333CC; }
  .project-container:hover .image-overlay {
    opacity: 1; }
  .project-container:hover a {
    opacity: 1;
    top: 0px; }

.project-image {
  position: relative; }
  .project-image img {
    max-width: 100%;
    display: block; }

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .4s; }
  .image-overlay button {
    background-color: #66CC66;
    color: white;
    font-size: 1em;
    font-family: Eurostile, sans-serif;
    padding: 10px 14px;
    margin: 0 5px;
    border: none;
    cursor: pointer; }
    .image-overlay button:hover {
      background-color: #39ac39; }
    .image-overlay button:active {
      box-shadow: inset 0px 0px 15px #666666; }
  .image-overlay a {
    position: relative;
    top: 80px;
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: .3s;
    transition-delay: .3s; }

.upcoming-project {
  background-color: transparent;
  font-size: 1.5em;
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
