#about img {
  display: block;
  margin: 10px auto;
  @media #{$brk-ipad} {
    float: right;
    margin: 0 0 15px 15px;
  }
}

#about span {
  color: $blue;
}

.title {
  font-weight: bold;
  color: $red;
}

#skills {
  .button-center {
    text-align: center;
  }

  li {
    font-size: 1.2em;
    padding-left: 30px;
    min-height: 25px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    &:nth-of-type(1) {
      background-image: url("../img/html5.svg");
    }
    &:nth-of-type(2) {
      background-image: url("../img/css3.svg");
    }
    &:nth-of-type(3) {
      background-image: url("../img/js.svg");
    }
    &:nth-of-type(4) {
      background-image: url("../img/git.svg");
    }
    &:nth-of-type(5) {
      background-image: url("../img/graphics.svg");
    }
    @media #{$brk-ipad} {
      margin: 12px 0;
    }
  }
  // .title {
  //   color: $blue;
  // }
}

#skills {
  @media #{$brk-ipad} {
    float: right;
    width: 40%;
    margin-left: 2.5%;
  }
}

// #bio .title {
//   color: $blue;
// }
//
// #education .title {
//   color: $blue;
// }

#education {
  @media #{$brk-ipad} {
    float: left;
    width: 55%;
    margin-right: 2.5%;
    margin-bottom: -30px;
  }
}

#bio {
  margin-bottom: 30px;
}
